@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-white: 0deg 0% 93%;
    --color-black: 0deg 0% 15%;
    --color-gray: 0deg 0% 45%;
    --color-orange: 16deg 100% 59%;
    --color-yellow: 54deg 100% 50%;
    --color-green: 156deg 79% 37%;
    --color-blue-gray: 219deg 6% 44%;
    --color-blue-gray-dark: 220deg 8% 23%;
    --color-off-black: 0deg 0% 0%;
    --color-off-white: 0deg 0% 100%;
    --color-gold: 51deg 100% 50%;
  }
}

.page-content-shadow {
  box-shadow: 0px 0px 10px black;
}

.contentful-document ul {
  list-style-type: disc;
  padding-left: 15px;
  margin: 8px 0;
}

.contentful-document > p {
  margin: 0 0 8px;
}

.contentful-document h2,
.contentful-document h3 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 16px;
}

.hero-text-shadow {
  text-shadow: 2px 2px #ff652f;
}

@media (min-width: 768px) {
  .hero-text-shadow {
    text-shadow: 3px 3px #ff652f;
  }
}
